@model Tarea3UI.Models.Producto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle del</h1>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroLote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroLote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="@(Model.Cantidad ==0 ? "bg-danger text-white font-weight-bold col-sm-10" :"col-sm-10")">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFabricacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFabricacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCaducidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCaducidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProveedorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProveedorId)
        </dd>
    </dl>
    <br />
    <h4>Proveedor del Producto</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.CedJuridica)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.CedJuridica)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Direccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedor.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedor.Telefono)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-Id="@Model.NumeroLote">
        <i class="bi bi-pencil-square"></i>
        Modificar
    </a> |
    <a asp-action="Index">Back to List</a>
</div>
